{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    上海艾满高信息科技有限公司
{% endblock %}

{% block content %}

    <!--MAIN BANNER AREA START -->
    <div class="page-banner-area page-about" id="page-banner">
        <div class="overlay dark-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                    <div class="banner-content content-padding">
                        <h1 class="text-white">关于我们</h1>
                        <p>关于我们的发展历程，我们的发展目标</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN HEADER AREA END -->

    <!--  SERVICE AREA START  -->
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
                    <h3 class="mb-3">我们的发展过程</h3>
                    <p class="mb-4">公司于2010年在长春成立开发中心，主要为一汽集团提供软件开发支持；2011年落户上海，同年成立上海核心研发技术团队及实施服务中心</p>

                    <span class="h5 mb-4">我们的公司拥有：</span>
                    <ul class="about-list2 my-4">
                        <li class="mb-2"><i class="icofont icofont-check-circled"></i>上海总部
                        </li>

                        <li class="mb-2">
                            <i class="icofont icofont-check-circled"> </i>长春研发中心
                        </li>

                        <li class="mb-2">
                            <i class="icofont icofont-check-circled"> </i>苏州分公司
                        </li>

                        <li class="mb-2">
                            <i class="icofont icofont-check-circled"> </i>天津办事处
                        </li>

                        <li class="mb-2">
                            <i class="icofont icofont-check-circled"> </i>成都办事处
                        </li>

                        <li class="mb-2">
                            <i class="icofont icofont-check-circled"> </i>广州办事处
                        </li>

                    </ul>

                    <a href="#" class="mt-3 d-inline-block">了解更多<i class="fa fa-angle-right"></i></a>
                </div>

                <div class="col-lg-6 col-md-4">
                    <img src="{% static 'assets/img/about/about-4.jpg' %}" alt="" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </section>
    <!--  ABOUT AREA END  -->


    <!--  HISTORY AREA  -->
    <section class="section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="media img-block mb-3 mb-lg-0">
                        <img src="{% static 'assets/img/about/h-1.jpg' %}" alt="" class="img-fluid rounded mr-3">
                        <div class="media-body ">
                            <h4 class="mb-3">我们拥有专业的团队</h4>
                            <p>85%的顾问同行业经验超过10年<br>
                                100%项目经理通过PMP项目管理认证<br>
                                18+Infor高级开发顾问<br>
                                20+名高级物流师<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="media img-block">
                        <img src="{% static 'assets/img/about/h-2.jpg' %}" alt="" class="img-fluid rounded mr-3">
                        <div class="media-body">
                            <h4 class="mb-3">我们拥有顶尖的技术</h4>
                            <p>技术支持中心响应度高达99%以上<br>
                                汽车行业领域专家超过20人<br>
                                5+IBM SVP认证工程师<br>
                                不断加强的技术支持<br>i
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  HISTORY AREA END  -->

 <!--  COUNTER AREA  -->
    <section class="section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="text-center border p-4 rounded mb-4">
                        <span class="counter  text-dark font-weight-normal">90</span>
                        <h5 class="text-uppercase mt-2">%客户跟随Amango超过5年</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="text-center border p-4 rounded mb-4">
                        <span class="counter text-dark font-weight-normal">50</span>
                        <h5 class="text-uppercase mt-2">%客户应用2 个以上AMANGO解决方案</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="text-center border p-4 rounded mb-4">
                        <span class="counter text-dark font-weight-normal">95</span>
                        <h5 class="text-uppercase mt-2">%AMANGO项目团队成员从项目开始一直参与到项目结束</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="text-center border p-4 rounded ">
                        <span class="counter text-dark font-weight-normal">1.6</span>
                        <h5 class="text-uppercase mt-2">倍于行业标准的按预算完成项目比率</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  COUNTER AREA END -->

    <!--  SECTION CTA START  -->
    <section class="section-padding" id="section-strategy">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-5">
                                <span class="icon-3x text-default"><i class="icofont icofont-layers"></i></span>
                                <h4 class="my-3">制造行业</h4>
                                <p>供应链管理系统SCM(Supply Chain Management)<br>制造执行系统MES(Manufacturing Execution System ) </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-5">
                                <span class="icon-3x text-default"><i class="icofont icofont-time"></i></span>
                                <h4 class="my-3">电子行业</h4>
                                <p>设备自动化控制工程（Equipment Integration Control ）<br>设备资产管理系统EAM(Equipment Asset Management)</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <span class="icon-3x text-default"><i class="icofont icofont-ui-browser"></i></span>
                                <h4 class="my-3">物流行业</h4>
                                <p>物流园区管理系统LPMS（logistics park Management System）<br>运输管理系统TMS（Transport Management System）</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <span class="icon-3x text-default"><i class="icofont icofont-shield"></i></span>
                                <h4 class="my-3">其他行业</h4>
                                <p>商业智能管理系统 BI（Businsses intelligence system）<br>企业资源规划系统ERP(Enterprise Resource Planning)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SECTION CTA END  -->


    <!--  PARTNER START  -->
    <section class="section-padding ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center text-lg-left">
                    <div class="mb-5">
                        <h3 class="mb-2">我们的客户及合作商</h3>
                        <p>自2011年起到2018，我们已经与超过20家国际厂商进行合作</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="{% static 'assets/img/clients/client01.png' %}" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="{% static 'assets/img/clients/client06.png' %}" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="{% static 'assets/img/clients/client04.png' %}" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="{% static 'assets/img/clients/client05.png' %}" alt="partner" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!--  PARTNER END  -->


{% endblock %}