{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    上海艾满高信息科技有限公司
{% endblock %}

{% block content %}

    <!--MAIN BANNER AREA START -->
    <div class="page-banner-area page-blog" id="page-banner">
        <div class="overlay dark-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                    <div class="banner-content content-padding">
                        <h1 class="banner-title">最近新闻</h1>
                        <p>这里有行业内最近的新闻和我们公司的近况</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN HEADER AREA END -->
    {% for blog in blogs %}
    {% empty %}
    {% endfor %}

    <!--  Blog AREA START  -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="blog-post">
                                <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
                                <div class="mt-4 mb-3 d-flex">
                                    <div class="post-author mr-3">
                                        <i class="fa fa-user"></i>
                                        <span class="h6 text-uppercase">童晨</span>
                                    </div>

                                    <div class="post-info">
                                        <i class="fa fa-calendar-check"></i>
                                        <span>2019-5-31</span>
                                    </div>
                                </div>
                                <a href="#" class="h4 ">IOT集成解决方案e</a>
                                <p class="mt-3">我们致力于IOT技术在企业及其物流作业环节的推广应用，
                                    掌握主流IOT技术（NB-IOT、LoraWAN等）并拥有自主硬件开发团队</p>
                                <a href="#" class="read-more">了解更多<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="blog-post">
                                <img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt="" class="img-fluid">
                                <div class="mt-4 mb-3 d-flex">
                                    <div class="post-author mr-3">
                                        <i class="fa fa-user"></i>
                                        <span class="h6 text-uppercase">童晨</span>
                                    </div>

                                    <div class="post-info">
                                        <i class="fa fa-calendar-check"></i>
                                        <span>2019-5-23</span>
                                    </div>
                                </div>
                                <a href="#" class="h4 ">什么是LoRa？</a>
                                <p class="mt-3">LoRa为英文Long Range的缩写，为低功耗广域网(Low PowerWide Area Network, LPWAN)通信技术的一种
                                    ，Semtech公司于2013年发布的超长距离低功耗数据传输技术。以往，在LPWAN产生之前，似乎只能在远距离以及低功耗两者之间做取舍</p>
                                <a href="#" class="read-more">了解更多<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <img src="{% static 'assets/img/blog/blog-lg.jpg' %}" alt="" class="img-fluid">
                                <div class="mt-4 mb-3 d-flex">
                                    <div class="post-author mr-3">
                                        <i class="fa fa-user"></i>
                                        <span class="h6 text-uppercase">童民栋</span>
                                    </div>

                                    <div class="post-info">
                                        <i class="fa fa-calendar-check"></i>
                                        <span>2019-04-30</span>
                                    </div>
                                </div>
                                <a href="#" class="h4 ">FIS系统</a>
                                <p class="mt-3">长春一汽国际物流中心是集现代运输、仓储、保管、搬运、包装、流通加工及物流信息化管理于一体的综合性服务体系。
                                    其中向一汽大众JIT配套上线即FIS作业是二大配送模式之一，FIS作业为大众生产JIT生产提供了有效的服务保证。</p>
                                <a href="#" class="read-more">了解更多<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog-post">
                                <img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt="" class="img-fluid">
                                <div class="mt-4 mb-3 d-flex">
                                    <div class="post-author mr-3">
                                        <i class="fa fa-user"></i>
                                        <span class="h6 text-uppercase">童民栋</span>
                                    </div>

                                    <div class="post-info">
                                        <i class="fa fa-calendar-check"></i>
                                        <span>2019-05-3</span>
                                    </div>
                                </div>
                                <a href="#" class="h4 ">FIS主要模块</a>
                                <p class="mt-3">D已处理零件查询-用户可以查询到所有已处理的数据，可以确认是否数据处理已经完成，没有遗漏；
手工添加丢失底盘号-在用户生成订单之前，如果搜索出来的零件数目，底盘数目和顺序号区间应用的数目无法匹配的情况发生，这时候需要手工添加丢失底盘；</p>
                                <a href="#" class="read-more">了解更多<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="blog-post">
                                <img src="{% static 'assets/img/blog/blog-4.jpg' %}" alt="" class="img-fluid">
                                <div class="mt-4 mb-3 d-flex">
                                    <div class="post-author mr-3">
                                        <i class="fa fa-user"></i>
                                        <span class="h6 text-uppercase">童民栋</span>
                                    </div>

                                    <div class="post-info">
                                        <i class="fa fa-calendar-check"></i>
                                        <span>2019-05-06/span>
                                    </div>
                                </div>
                                <a href="#" class="h4 ">FIS主要模块2</a>
                                <p class="mt-3">未处理零件查询-用户可以查询所有未处理的零件数据，用户可以选择查询分组或者不分组的零件，或者某一个具体的分组零件，
                                    可以查询具体某个底盘号或者顺序号的所有零件。如果没有输入底盘号或者顺序号，将查询所有的未处理数据；</p>
                                <a href="#" class="read-more">了解更多<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BlOG SIDEBAR -->
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-widget search">
                                <div class="form-group">
                                    <input type="text" placeholder="搜索" class="form-control">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="sidebar-widget about-bar">
                                <h5 class="mb-3">关于我们</h5>
                                <p>这里有许多关于我们的新闻和行业信息</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="sidebar-widget category">
                                <h5 class="mb-3">经典文章</h5>
                                <ul class="list-styled">
                                    {% for blog in blogs %}
                                        <li><a href="#">{{ blog.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="sidebar-widget tag">
                                {% for blog_type in blog_types %}
                                    <a href="#">{{ blog_type.type_name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-widget download">
                                <h5 class="mb-4">下载文档</h5>
                                <a href="#"> <i class="fa fa-file-pdf"></i>WMS案例</a>
                                <a href="#"> <i class="fa fa-file-pdf"></i>REP案例</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Blog AREA End -->

{% endblock %}