{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    上海艾满高信息科技有限公司
{% endblock %}
{% block content %}

    <!--MAIN BANNER AREA START -->
    <div class="page-banner-area page-contact" id="page-banner">
        <div class="overlay dark-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                    <div class="banner-content content-padding">
                        <h1 class="text-white">请联系我们</h1>
                        <p>我们有最专业的顾问来服务您，解答您的疑惑</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN HEADER AREA END -->

    <!--  Contact START  -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="mb-5">
                        <h2 class="mb-2">快来和我们取得联系吧</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-sm-12">
                    <form class="contact__form" method="post" action="#">
                        <!-- form message -->
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                    您的消息已经发送成功！
                                </div>
                            </div>
                        </div>
                        <!-- end message -->
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input name="name" type="text" class="form-control" placeholder="姓名" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="email" type="email" class="form-control" placeholder="电子邮箱" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input name="subject" type="text" class="form-control" placeholder="主题" required>
                            </div>
                            <div class="col-12 form-group">
                                <textarea name="message" class="form-control" rows="6" placeholder="请描述一下您想了解的内容" required></textarea>
                            </div>
                            <div class="col-12 mt-4">
                                <input name="submit" type="submit" class=" btn btn-hero btn-circled" value="发送消息">
                            </div>
                        </div>
                    </form>
                </div>
                {% for contact in contacts %}
                <div class="col-lg-5 pl-4 mt-4 mt-lg-0">
                    <h4>公司地址</h4>
                    <p class="mb-3">{{ contact.address }}</p>
                    <h4>联系电话</h4>
                    <p class="mb-3">{{ contact.telephone }}</p>
                    <h4>电子邮箱</h4>
                    <p class="mb-3">{{ contact.email }}</p>
                    <h4>地点</h4>
                    <p>{{ contact.position }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!--  CONTACT END  -->

    <!--  PARTNER START  -->
    <section id="map" class="section-padding ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-6 col-md-3">
                </div>
            </div>
        </div>
    </section>
    <!--  PARTNER END  -->

{% endblock %}