{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    上海艾满高信息科技有限公司
{% endblock %}

{% block content %}
      <!--MAIN BANNER AREA START -->
    <div class="banner-area banner-3">
        <div class="overlay dark-overlay"></div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                            <div class="banner-content content-padding">
                                <h5 class="subtitle">上海艾满高信息科技有限公司</h5>
                                <h1 class="banner-title">AIOT物联网方案供应商</h1>
                                <p>我们致力于提供具备人工智能的物联网及供应链解决方案在企业落地！</p>
                                <a href="#" class="btn btn-white btn-circled">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN HEADER AREA END -->

    <!--  ABOUT AREA START  -->
    <section id="intro" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section-heading">
                        <p class="lead">我们的整体行业解决方案</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  d-none d-lg-block col-sm-12">
                    <div class="intro-img">
                        <img src="{% static 'assets/img/banner/why-choose.png' %}" alt="intro-img" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 ">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>01.</span>
                                <h4>制造行业</h4>
                                <p>我们公司在制造行业拥有多种解决方案包括SCM，MES等等，帮助制造业更好的进行生产制造</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>02.</span>
                                <h4>电子行业</h4>
                                <p>我们电子行业中，我们也有相应的解决方案，比如说ERP，BI等等，通过我们的解决方案得到了更好的结果</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>03.</span>
                                <h4>物流行业</h4>
                                <p>物流是我们公司最主要的项目，主要为一汽集团提供软件开发支持，我们有LPMS，CTM，TMS等等为不同的情况提供多项解决方案</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>04.</span>
                                <h4>其他行业</h4>
                                <p>除上述之外，我们还设计其他许多行业，像是企业管理，资产管理等等，我们都有对应的解决方案</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                           <div class="intro-cta">
                               <p class="lead ">还有其他问题? <a href="{% url 'contact_list' %}" class="smoth-scroll">联系我们</a></p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  ABOUT AREA END  -->

    <!--  SERVICE AREA START  -->
    <section id="about" class="bg-light">
        <div class="about-bg-img d-none d-lg-block d-md-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-8">
                    <div class="about-content">
                        <h5 class="subtitle">关于我们</h5>
                        <h3>我们有最专业的<br>开发与顾问团队</h3>
                        <p>我们致力于为客户提供最为专业和顶尖的技术服务</p>

                        <ul class="about-list">
                            <li><i class="icofont icofont-check-circled"></i>汽车行业领域专家超过20人</li>

                            <li>
                                <i class="icofont icofont-check-circled"> </i>85%的顾问同行业经验超过10年
                            </li>

                            <li>
                                <i class="icofont icofont-check-circled"> </i>技术支持中心响应度高达99%以上
                            </li>
                            <li>
                                <i class="icofont icofont-check-circled"> </i>5人以上IBM SVP认证工程师

                            </li>
                            <li>
                                <i class="icofont icofont-check-circled"> </i>100%项目经理通过PMP项目管理认证
                            </li>
                            <li>
                                <i class="icofont icofont-check-circled"></i>超过20名的高级物流师<br>以及18名Infor高级开发顾问

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE AREA END  -->

    <!--  SERVICE PARTNER START  -->
    <section id="service-head" class=" bg-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 m-auto">
                    <div class="section-heading text-white">
                        <h4 class="section-title">我们的荣誉</h4>
                        <p>上海艾满高信息科技有限公司自2010年建立以来，在各行各业都有许多的荣耀</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE PARTNER END  -->
	<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >建站模板</a></div>
    <!--  SERVICE AREA START  -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{% static 'assets/img/icon/007-digital-marketing-3.png' %}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>2012年Infor中国最佳实施合作伙伴</h4>
                            <p>我们公司最为Infor在中国<span>长期的合作伙伴</span>我们互盈互惠共同进步</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box ">
                        <div class="service-img-icon">
                            <img src="{% static 'assets/img/icon/008-digital-marketing-2.png' %}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>2013年度AMT优秀解决方案奖和2012年度AMT供应链优秀案例</h4>
                            <p>我们公司与2012年和2013年<span>连续两年获得年度奖项</span>这是对我们的工作极大的肯定</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{% static 'assets/img/icon/003-task.png' %}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>2014年度汽车行业优秀解决方案</h4>
                            <p>到了2014年我们在汽车行业取得了成功为<span>长春一汽集团</span>提供软件开发支持</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{% static 'assets/img/icon/010-digital-marketing.png' %}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>CIPHERLAB物流行业优秀作品作商</h4>
                            <p>我们公司在物流行业得到了<span>世界著名的CIPHERLAB的肯定</span>成为优秀作品商</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{% static 'assets/img/icon/006-analytics.png' %}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>2014年度IBM OMS最佳合作伙伴</h4>
                            <p>在2014年，我们与IBM展开合作并获得了<span>旗下OMS的最佳合作伙伴</span>我们很高兴能够和他们合作并取得成功</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="service-img-icon">
                            <img src="{% static 'assets/img/icon/004-hiring.png' %}" alt="service-icon" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>2015年度IBM SVP认证供应商</h4>
                            <p>到了2015年，我们继续与IBM深入合作最终得到了<span>SVP认证供应商</span>非常感谢IBM对我们的认可</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE AREA END  -->

{% endblock %}